<body>
  
    <br>


                    <form action="/Mongodb/add" method="POST">
                        <label>EID:</label>
                        <input type="text" name="_id">
                        <br>
                        <label>Phone:</label>
                        <input type="number" name="phone">
                        <br>
                        <label>Email:</label>
                        <input type="text" name="email" inputmode="email">
                        <br>
                        <input type="submit" value="Add">
                    </form>

                    <br>
                    <a href="/">Home</a>
</body>